<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />　<!--文字化けを防ぐ-->
    <title>Meshiterro</title> <!--タイトルを書く-->

  </head>

  <body>
    <h2>meshiterro</h2>
    <h1><p>welcome to <strong>Meshiterro</strong></p></h1>
    <p>in<b>Meshiterro</b></p>
    
  </body>
</html>